.m-list-item {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  padding: 1rem;
  color: #2f2f2f;
  background-color: rgba(#2f2f2f, .05);
  border-radius: .25rem;
  transition: background-color .2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(#2f2f2f, .2);
  }
}

.m-list-item__title {
  margin: 0;

  &--sm {
    font-size: 1.2em;
  }

}