.m-search {
  
}

.m-search__form {
}

.m-search__form-input {
  
}

.m-search__form-submit { 
  margin-left: .5em;
  border: 1px solid #eb5b51;
  border-radius: .25em;
  padding: .5em 1em;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color .15s ease-in-out;

  &:hover {
    background-color: #eb5b51;
  }
}
