.o-markdown-block {
  display: flex;
  justify-content: flex-start;
}

.o-markdown-block--vertial {
  flex-direction: column;
}

.o-markdown-block--horisontal {
  flex-direction: row;
}

.o-markdown-block__text {

}

.o-markdown-block__image {

}

.o-markdown-block__image-asset {
  margin: 0;
}