@import '1-settings/settings';
@import '1-settings/colors';
@import '1-settings/spacing';
@import '1-settings/typography';

@import '2-tools/tools';

@import '3-generic/generic';


@import '4-elements/elements';

@import '7-organisms/header';
@import '7-organisms/navbar';
@import '7-organisms/article';

@import '8-pages/pages';
