.p-tags {
  margin: 1em;
}

.p-tags__item,
.p-tags__link {
  opacity: .8;
  transition: opacity .2s ease-in;
  
  &:hover {
    opacity: 1;
  }
}

.p-tags__item-link,
.p-tags__link {
  text-decoration: none;
  color: #2f2f2f;
}