// Brand Colors
$color-brand-dark:      #2F2F2F;
$color-brand-light:			#f2f2f2;


// Implementation
$main-text:							$color-brand-light;
$main-text--inverse:    $color-brand-dark;

$header-background:			$color-brand-dark;

$article-item-background:     $color-brand-dark;
$article-item-text:           $color-brand-light;

