

$spacing__base : 10px;

$spacing--xxs:  ($spacing__base / 4);
$spacing--xs:   ($spacing__base / 2);
$spacing--sm:   ($spacing__base);
$spacing--md:   ($spacing__base * 2);
$spacing--lg:   ($spacing__base * 4)