.o-hero {
  box-sizing: border-box;
  width: 100%;
  min-height: 20em;
  display: flex;
  position: relative;
  
  &--warm {
    background: rgba(255, 75, 75, 1);
    color: #f2f2f2;
  }

  &--cold {
    background: rgba(0, 100, 255, 1);
    color: #f2f2f2;
  }

  &--top {
    align-items: flex-start; 
  }
  
  &--center {
    align-items: center;
  }
  
  &--bottom {
    align-items: flex-end; 
  }
  
  &--left {
    justify-content: flex-start;
  }
  
  &--middle {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}

.o-hero__background {
  // Background Image
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  filter: grayscale(1);
  opacity: 0.7;
} 

.o-hero__title {
  margin: 2rem;
  z-index: 100;

  &--dark {
    color: #2f2f2f;
  }
  
  &--light {
    color: #f2f2f2;
  }
}