.o-hero {
  width: 100%;
  min-height: 20em;
  display: flex;
  
  &--warm {
    background: rgba(255, 75, 75, 1);
    color: #f2f2f2;
  }

  &--cold {
    background: rgba(0, 100, 255, 1);
    color: #f2f2f2;
  }

  &--top {
    align-items: flex-start; 
  }
  
  &--center {
    align-items: center;
  }
  
  &--bottom {
    align-items: flex-end; 
  }
  
  &--left {
    justify-content: flex-start;
  }
  
  &--middle {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}

.o-hero__title {
  margin: 0;
}